# Python
__pycache__/
*.py[cod]
*.so

# Virtual envs / local env
.venv/
.venv-3.11/
.env
.env.*

# Data dumps / caches
data/ml-25m/
data/*.csv
data/*.tsv
data/*.parquet
data/downloads/
data/cache/

# Build artifacts
*.egg-info/
build/
dist/

# OS
.DS_Store
.venv-3.11/
